<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/alien.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>A bit about me</h3>
                  <p>Hello Viewer, thanks for stopping by to check out my portfolio. Although it isn't vast, I certainly put my heart into it.
                    So, about me. I am a software developer who graduated from Flatiron in May of 2023 as a full stack developer. After school I pursued 
                    Python primarily, with React/Javascript sprinkled in every once in a while. Over the past few months I have found myself falling in love
                    with programming. I have found myself being pulled to it even during times when I should be resting. It has, in some sense, become a part of my time of rest.
                  </p>
                  <h3>
                    A bit about my past
                  </h3>
                  <p>As for how my past contributes to my skillset; I have a background in education, holistic healthcare, horticulture, and customer service.
                    As someone who has taught both as a head instructor and an assitant instructor, I understand what it is like to be a beginner as well advanced within a subject matter.
                    I know the necessity of asking questions and remaining humble when approaching a new subject. I try to bring these qualities of curiousity and egolessness into my software engineering
                    journey; I believe doing so helps drastically in the learning endearvor. As for my experience within holistic healthcare; it is always useful to know 
                    how to take care of yourself and to understand that within life there must always be a balance, otherwise the mind and body will become compromised. As for horticulture, I just think plants are awesome.
                    Lastly, customer service, being in this field developed my 'soft skills' which are incredibly important when it comes to enjoying the workplace and the company of those around you.
                    Simply knowing how to enjoy a converstion with someone, or perhaps being aware of body language and vocal fluctuations and behaving accordingly, these are important skills to learn and hone.
                  </p>
                  
                                   
                  
                  <!-- <h3>Ut enim ad minim  </h3>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                  <h3>Maecenas luctus at sem quis varius</h3>
                  <p>
                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p> -->
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/IMG_6573.JPG" class="img-responsive" alt="">
                  <h3>What are my goals?</h3>
                  <p>I would like to delve deeper into web development. I am intrigued to see where this path of tech will take me. For now, I would like to get into web development, both on the front end as well as the back end.</p>
                  <h5>Thank you for reading.</h5>
                  <h4>Sincerely, Dakota Vikdal</h4>
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>